<% content_for(:head) do %>
  <script type="text/javascript">
    <%= render :partial => "transaction/split_transaction.js.erb", :formats => :js, :handlers => [:erb, :js] %>
  </script>
<% end %>

<h2>Distribute Your Deposit</h2>
<div class="row">
  <div class="span8">
      <%= form_tag( {:action => "update"}, {:method => "put"}) do %>
        <table id=split_transactions class="table table-striped">
           <tr>
             <td><h3><%= @deposit[:description] %></h3><td><h3>$<span id="transaction_amount"><%= @deposit[:amount] %></span></h3></td>
            </tr>
            <tr class='debit_row'/>
            <tr>
              <td>Remainder</td><td>$<span id="remainder"><%= @deposit[:amount] %></span></td>
            </tr>
        </table>
      <%= submit_tag "Save", name: 'split', class: "btn"  %>
      <%= button_tag "Cancel", type: 'button', class: "btn", onclick: "location.href = '#{transaction_index_path()}'" %>
    <% end %>
  </div>

</div>
