<div class="row">
  <div class="span4">
    <table id=unsorted_transactions class="table table-bordered">
      <% @unsorted_transactions.each_pair do |account, account_transactions| %>
        <tr><th><%= account[:name] %></th></tr>
        <% account_transactions.each do |t| %>
          <tr id=t<%= t[:id] %> class='transaction_row'>
            <td> <%=t[:description] %></td><td class='amount'> <%=t[:amount] %> </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="span5 sidebar-fixed">
    <%= form_tag( {:action => "assign"}, {:method => "put"}) do %>
      <%= text_field_tag :category, nil, class: 'typeahead' %>
      <%= hidden_field_tag :transaction_id %>
      <%= hidden_field_tag :amount %>
      <%= submit_tag "Assign", name: 'assign', class: "btn btn-top"  %>
      <%= submit_tag "Split",  name: 'split',  class: "btn btn-top"  %>
    <% end %>
  </div>

</div>
