<div>
  <span>
    <table id=unsorted_transactions>
      <% @unsorted_transactions.each do |t| %>
        <tr id=t<%= t[:id] %>>
          <td> <%=t[:description] %></td><td> <%=t[:amount] %> </td>
        </tr>
      <% end %>
    </table>
  </span>
  <span>
    <%= form_tag( {:action => "assign"}, {:method => "put"}) do %>
      <%= text_field_tag(:category) %>
      <%= hidden_field_tag :transaction_id, 1 %>
      <%= hidden_field_tag :amount, 35 %>
      <%= submit_tag("Assign") %>
    <% end %>
  </span>

</div>
