<%= form_tag do %>
  <div class="row">
    <div class="span8">
      <h2>Accounts</h2>
      <table id=accounts class="table table-striped">
        <% @accounts.each_pair do |key, value| %>
          <tr>
            <td><div><%=key%></div></td>
            <td><div id=<%=key%>_balance><%=value%></div></td>
          </tr>
        <% end %>
      </table>
      <table class="table">
        <tr>
          <td><%= text_field_tag(:new_account_name) %></td>
          <td><%= text_field_tag(:new_account_balance) %></td>
          <td><%= submit_tag "Add Account", class: "btn"  %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <h2>Categories</h2>
      <table id=category_balances class="table table-striped">
        <% @balances.each_pair do |key, value| %>
          <tr>
            <td><div><%=key%></div></td>
            <td><div id=<%=key%>_balance><%=value%></div></td>
          </tr>
        <% end %>
      </table>
      <table class="table">
        <tr>
          <td><%= text_field_tag(:new_category_name) %></td>
          <td><%= text_field_tag(:new_category_budget) %></td>
          <td><%= submit_tag "Add Category", class: "btn"  %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
