<div class="row">
  <div class="span4">
    <table id=account_balances class="table table-striped">
      <% @accounts.each_pair do |key, value| %>
        <tr>
          <td><div><%=key%></div></td>
          <td><div id=<%=key%>_balance><%=value%></div></td>
        </tr>
        <% if @unsorted_transactions[key] %>
          <% text = "#{key} has #{@unsorted_transactions[key][:count]} unsorted transactions totaling $#{@unsorted_transactions[key][:amount]}" %>
          <tr>
            <td colspan=2><div id=<%=key%>_unsorted><%=link_to text, transaction_index_path %></div></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="span4">
    <table id=category_balances class="table table-striped">
      <% @balances.each_pair do |key, value| %>
        <tr>
          <td><div><%=key%></div></td>
          <td><div id=<%=key%>_balance><%=value%></div></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
