<div class="row">
  <div class="span4">
    <table id=categories class="table table-striped">
      <% @categories.each do |category| %>
        <tr>
          <td class='category'><%= category[:category] %></td>
          <td class='budget'><%= category[:budget] %></td>
          <td class='spent'><%= category[:spent] %><td>
          <td class='remainder'><%= category[:remainder] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span4">
    <table id=accounts class="table table-striped">
      <% @accounts.each do |account| %>
        <tr>
          <td class='account'><%= account[:account] %></td>
          <td class='starting'><%= account[:starting] %></td>
          <td class='ending'><%= account[:ending] %><td>
          <td class='change'><%= account[:change] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div row>
  <div class="span8">
    <table id=totals class="table table-striped">
      <tr>
        <td>Deposits</td>
        <td id='total_deposits'><%= @totals[:credits] %></td>
        <td>Expenses</td>
        <td id='total_expenses'><%= @totals[:debits] %></td>
      </tr>
    </table>
</div>
